[Unit]
Description=Startpage Web Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/chris/.config/firefox/home
ExecStart=/home/chris/.config/firefox/home/serve.py
Restart=on-failure

[Install]
WantedBy=default.target

