[Unit]
Description=Startpage Web Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/chris/.config/firefox/home
ExecStart=/usr/bin/python3 -m http.server 8080
Restart=on-failure

[Install]
WantedBy=default.target

